.modulo
{
	flex:0 1 auto;
	margin-bottom:10px;	
	padding:10px;
	overflow:auto;	
	
	@include glass;

	&:first-of-type
	{
		margin-top:10px;
	}
	
	&:last-of-type
	{
		margin-bottom:10px;
	}
	
	&.menu,
	&.presenti
	{
		flex:1 1 auto;
	}
	
	.pagina_mappaclick
	{
		position:relative;
	}
	
}