/*
 * http://github.com/peteboere/css-crush (v3.0.1)
 */
/* IMPORTA LE VARIABILI */
/* IMPORTA GLI STILI COMUNI */
/* INIZIO STILI COMUNI */
::-webkit-scrollbar {
    width: 5px;
    }

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,.25);
    }

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.50);
    }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.75);
    }
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    }
div,
textarea {
    scrollbar-color: #26282c #737579;
    scrollbar-width: thin;
    }

/* LINK */
a,
a:visited {
    color: #000;
    text-decoration: none;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    color: #00b7f8;
    }
a:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    }
::placeholder {
    color: black;
    opacity: 1;
    }
input[type="submit"] {
    background: -webkit-linear-gradient(to bottom,rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom,rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-radius: 5px;
    padding: .5em;
    text-transform: uppercase;
    color: #EBECF0;
    min-width: 100px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.75);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.75);
    cursor: pointer;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    font-weight: bolder;
    letter-spacing: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
    }
input[type=submit]:hover {
    color: #007AA5;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    }
input[type=submit]:active {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.75);
    box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.75);
    }
input[type="text"],
input[type="password"],
select {
    background-color: rgba(255,255,255,.25);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.75);
    box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.75);
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
input[type="text"]:focus,
input[type="password"]:focus {
    background-color: rgba(255,255,255,.5);
    }
form .fields {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
form .submit {
    text-align: center;
    }

/* HEADER */
h1,
h2 {
    font-weight: bolder;
    color: #EBECF0;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: rgba(0,0,0,.5) -1px 0,rgba(0,0,0,.3) 0 -1px,rgba(255,255,255,.5) 0 1px,rgba(0,0,0,.3) -1px -2px;
    }
h1 {
    font-size: 32px;
    text-align: center;
    }
h2 {
    font-size: 16px;
    }
table {
    margin: auto;
    border-collapse: collapse;
    }
table tr:nth-child(odd) {
    background-color: rgba(255,255,255,.2);
    }
table tr:nth-child(even) {
    background-color: rgba(255,255,255,.4);
    }
table td {
    border: 1px solid rgba(0,0,0,5);
    padding: 5px;
    }
@media (min-width:1380px) {
body,
html {
    font-size: 14px;
    }
}

.tc {
    text-align: center;
    }
div.error {
    background-color: #cf8888;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: solid 1px #800;
    color: #970b0b;
    text-align: left;
    }
div.error h2 {
    text-align: left !important;
    color: #970b0b !important;
    }
div.error ol li {
    line-height: 1.5em;
    }

/* FINE STILI COMUNI */
/* IMPORTA I CSS DELLA HOME */
.home.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    justify-items: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-template-areas: "header" "nav" "login" "main" "stat" "nav_bottom" "footer";
    background-color: #46505a;
    background-image: -webkit-linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),-webkit-linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),-webkit-linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    }
.home.layout h1,
.home.layout h2 {
    color: rgba(0,0,0,.3);
    margin: 0;
    padding: 0;
    }
.home.layout h1 a,
.home.layout h2 a {
    color: rgba(0,0,0,.3);
    }
.home.layout header {
    padding: 10px 20px 10px 20px;
    grid-area: header;
    }
.home.layout header h1 {
    text-align: left;
    }
.home.layout nav,
.home.layout nav.bottom {
    background-color: #3e464d;
    border-bottom: 2px solid rgba(255,255,255,.2);
    border-top: 2px solid rgba(0,0,0,.8);
    border-right: 2px solid rgba(255,255,255,.2);
    border-left: 2px solid rgba(0,0,0,.8);
    margin-bottom: 10px;
    }
.home.layout nav ul,
.home.layout nav li,
.home.layout nav.bottom ul,
.home.layout nav.bottom li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
.home.layout nav ul,
.home.layout nav.bottom ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    }
.home.layout nav li,
.home.layout nav.bottom li {
    line-height: 25px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    }
.home.layout nav li:hover,
.home.layout nav.bottom li:hover {
    background-color: rgba(0,0,0,.25);
    }
.home.layout nav li a,
.home.layout nav.bottom li a {
    color: #EBECF0;
    display: block;
    text-transform: uppercase;
    }
.home.layout nav li a:hover,
.home.layout nav.bottom li a:hover {
    color: #007AA5;
    }
.home.layout nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-area: nav;
    }
.home.layout aside {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 2px solid #C4D8E2;
    border-bottom: 2px solid #C4D8E2;
    border-left: 2px solid #003A6C;
    border-top: 2px solid #003A6C;
    -webkit-box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    background-color: #708090;
    background-image: -webkit-linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    background-image: linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    border-radius: 5px;
    }
.home.layout aside#sez_stat .item {
    padding: 0;
    }
.home.layout aside#sez_stat .item h2 {
    margin: 10px 0;
    }
.home.layout aside#sez_stat .item table {
    min-width: 250px;
    width: 100%;
    font-size: 12px;
    }
.home.layout aside#sez_stat .item table td {
    border-left-width: 0;
    border-right-width: 0;
    }
.home.layout aside.sez_form {
    grid-area: logon;
    }
.home.layout aside.sez_stat {
    grid-area: logon;
    }
.home.layout aside .item {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    }
.home.layout aside .item .modulo h2 {
    color: rgba(255,255,255,.75);
    text-align: center;
    }
.home.layout aside .item .modulo.login form .fields label,
.home.layout aside .item .modulo.recupero form .fields label {
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    padding: .5em 0;
    }
.home.layout aside .item .modulo.login form .fields input[type="text"],
.home.layout aside .item .modulo.login form .fields input[type="password"],
.home.layout aside .item .modulo.recupero form .fields input[type="text"],
.home.layout aside .item .modulo.recupero form .fields input[type="password"] {
    -webkit-flex: 2 0 75%;
    -ms-flex: 2 0 75%;
    flex: 2 0 75%;
    margin: .5em 0;
    }
.home.layout main {
    grid-area: main;
    margin: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 2px solid #C4D8E2;
    border-bottom: 2px solid #C4D8E2;
    border-left: 2px solid #003A6C;
    border-top: 2px solid #003A6C;
    -webkit-box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    background-color: #708090;
    background-image: -webkit-linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    background-image: linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    border-radius: 5px;
    }
.home.layout main h1,
.home.layout main h2 {
    color: rgba(255,255,255,.75);
    text-align: center;
    }
.home.layout main a {
    color: white;
    }
.home.layout main a:hover {
    color: #00b7f8;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    }
.home.layout main section.iscrizione {
    overflow-x: auto;
    }
.home.layout main section.iscrizione h2 {
    margin-bottom: 10px;
    }
.home.layout main section.iscrizione form .fields {
    margin: auto;
    max-width: 500px;
    }
.home.layout main section.iscrizione form .fields label {
    -webkit-flex: 0 0 90px;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    padding: .5em 0;
    font-weight: bolder;
    }
.home.layout main section.iscrizione form .fields input[type="text"],
.home.layout main section.iscrizione form .fields input[type="password"],
.home.layout main section.iscrizione form .fields select {
    -webkit-flex: 2 0 -webkit-calc(100% - 90px);
    -webkit-flex: 2 0 calc(100% - 90px);
    -ms-flex: 2 0 calc(100% - 90px);
    flex: 2 0 -webkit-calc(100% - 90px);
    flex: 2 0 calc(100% - 90px);
    margin: .5em 0;
    }
.home.layout main section.iscrizione form .fields .form_info {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    }
.home.layout nav.bottom {
    grid-area: nav_bottom;
    }
.home.layout footer {
    grid-area: footer;
    padding: 10px 20px 20px 20px;
    color: silver;
    }
@media screen and (orientation: landscape) {
.home.layout {
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    justify-items: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-template-areas: "header header" "nav nav" "login main" "stat main" "stat main" "nav_bottom nav_bottom" "footer footer";
    }
}

/*@import 'homepage.css';*/
/* importa i css principali */
/* IMPORTA IL LAYOUT DELL'INTERNO DELLA LAND */
.main.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #46505a;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: 100%;
    justify-items: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    }
.main.layout aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    scroll-snap-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 5px;
    background-color: #46505a;
    background-image: -webkit-linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),-webkit-linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),-webkit-linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    }
.main.layout aside#sez_left {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-right: 2px solid rgba(0,0,0,1);
    border-left: 2px solid rgba(255,255,255,.2);
    }
.main.layout aside#sez_right {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
    border-left: 2px solid rgba(255,255,255,.2);
    border-right: 2px solid rgba(0,0,0,1);
    }
.main.layout aside .item {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    }
.main.layout aside .item .modulo {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 10px;
    padding: 10px;
    overflow: auto;
    border-right: 2px solid #C4D8E2;
    border-bottom: 2px solid #C4D8E2;
    border-left: 2px solid #003A6C;
    border-top: 2px solid #003A6C;
    -webkit-box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    background-color: #708090;
    background-image: -webkit-linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    background-image: linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    border-radius: 5px;
    }
.main.layout aside .item .modulo:first-of-type {
    margin-top: 10px;
    }
.main.layout aside .item .modulo:last-of-type {
    margin-bottom: 10px;
    }
.main.layout aside .item .modulo.menu,
.main.layout aside .item .modulo.presenti {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    }
.main.layout aside .item .modulo.menu {
    padding: 10px 0 0;
    }
.main.layout main {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-snap-align: center;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    padding: 5px;
    background-color: #46505a;
    background-image: -webkit-linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),-webkit-linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),-webkit-linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,.25) 50%,rgba(0,0,0,0) 70%,rgba(255,255,255,.2) 100%),linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%),linear-gradient(to left,rgba(255,255,255,.2) 0,rgba(0,0,0,.2) 20px,rgba(0,0,0,0) 40px,rgba(0,0,0,0) 100%);
    border-right: 2px solid rgba(0,0,.1);
    border-left: 2px solid rgba(255,255,255,.2);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    }
.main.layout main nav {
    background-color: #939fab;
    background-color: #a9b3bd;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: -webkit-sticky;
    position: sticky;
    top: .10px;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.5);
    }
.main.layout main nav ul,
.main.layout main nav li {
    margin: 0;
    padding: 0;
    }
.main.layout main nav li:hover {
    background-color: rgba(255,255,255,.4);
    }
.main.layout main nav ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    }
.main.layout main nav ul li {
    list-style-type: none;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    }
.main.layout main nav ul li ul {
    border: 1px solid rgba(0,0,0,.75);
    position: absolute;
    top: -webkit-calc(1.5em + 20px);
    top: calc(1.5em + 20px);
    background-color: #a9b3bd;
    display: none;
    z-index: 1;
    }
.main.layout main nav ul li:last-of-type ul {
    right: 0;
    }
.main.layout main nav ul li:hover ul {
    display: block;
    }
.main.layout main nav ul li ul li {
    display: block;
    }
.main.layout main nav a {
    color: rgba(0,0,0,1);
    padding: 10px;
    }
.main.layout main .modulo {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 10px;
    padding: 10px;
    overflow: auto;
    border-right: 2px solid #C4D8E2;
    border-bottom: 2px solid #C4D8E2;
    border-left: 2px solid #003A6C;
    border-top: 2px solid #003A6C;
    -webkit-box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,.5);
    background-color: #708090;
    background-image: -webkit-linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    background-image: linear-gradient(110deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 74%,rgba(255,255,255,.1) 75%,rgba(255,255,255,.1) 100%);
    border-radius: 5px;
    }
.main.layout main .modulo:first-of-type {
    margin-top: 10px;
    }
.main.layout main .modulo:last-of-type {
    margin-bottom: 10px;
    }
.main.layout main .modulo.menu,
.main.layout main .modulo.presenti {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    }
.main.layout main .modulo.menu {
    padding: 10px 0 0;
    }
.main.layout main .modulo {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: -webkit-calc(100% - 24px);
    height: calc(100% - 24px);
    padding: 0;
    position: relative;
    }
.main.layout main .modulo .pagina_mappaclick .map_wrapper {
    overflow: auto;
    width: 100%;
    display: block;
    position: relative;
    }
.main.layout main .mejs__container,
.main.layout main .mejs__controls:not([style*="display: none"]) {
    background: rgba(0,0,0,0);
    }
.main.layout main section {
    padding: 10px;
    }
@media screen and (orientation: portrait) {
html,
body {
    font-size: 14px;
    }
}

@media screen and (orientation: landscape) {
.main.layout {
    grid-template-columns: 34% 66% 100%;
    }
.main.layout aside#sez_left {
    scroll-snap-align: end;
    grid-column: 2 / 2;
    border-left-width: 0;
    }
.main.layout aside#sez_left .item {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    }
.main.layout aside#sez_left .item .modulo.menu,
.main.layout aside#sez_left .item .modulo.info {
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    }
.main.layout aside#sez_left .item .modulo.info {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 5px;
    }
.main.layout aside#sez_left .item .modulo.menu {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    }
.main.layout aside#sez_left .item .modulo.msgs {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 10px;
    }
.main.layout aside#sez_right {
    scroll-snap-align: end;
    grid-column: 1 / 1;
    border-right-width: 0;
    }
.main.layout main {
    scroll-snap-align: start;
    grid-column: 3 / 3;
    }
@media (min-width:1280px) {
.main.layout {
    grid-template-columns: min-content auto min-content;
    }
.main.layout aside#sez_left {
    scroll-snap-align: end;
    grid-column: 1 / 1;
    border-left-width: 1px;
    }
.main.layout aside#sez_left .item {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    }
.main.layout aside#sez_left .item .modulo.info {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    }
.main.layout aside#sez_left .item .modulo.menu {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    }
.main.layout aside#sez_left .item .modulo.msgs {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 10px;
    }
.main.layout aside#sez_right {
    scroll-snap-align: end;
    grid-column: 3 / 3;
    border-right-width: 1px;
    }
.main.layout main {
    scroll-snap-align: start;
    grid-column: 2 / 2;
    }
}

}

body.transparent_body {
    background-color: transparent;
    background-image: none;
    }
div,
ul,
li {
    margin: 0;
    padding: 0;
    }
.blank {
    clear: both;
    }
div.form_field table {
    margin: 5px auto;
    }
div.form_label {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 5px;
    }
div.form_info {
    font-size: 12px;
    margin-bottom: 15px;
    }
select.day,
select.month,
select.year {
    width: 60px;
    display: inline-block;
    }

/** * Stile dei messaggi d'avviso dell'engine */
div.link_back {
    text-align: center;
    background-color: #d1d1d1;
    padding: 2px;
    }

/** * Logout */
div.logout_box {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 1px #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }
div.logout_box a {
    text-decoration: underline;
    font-style: italic;
    }

/** * Titoli delle sezioni
*/
div.innertube h2,
.output h2,
div.page_title h2 {
    font-weight: bolder;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #EBECF0;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    text-shadow: rgba(0,0,0,.5) -1px 0,rgba(0,0,0,.3) 0 -1px,rgba(255,255,255,.5) 0 1px,rgba(0,0,0,.3) -1px -2px;
    }

/** * Stile dei contenitori grigi con i bordini arrotondati

div.pagina_info_location, div.msgs, div.menu, div.presenti, .output {
    margin: 5px auto;
    padding: 10px;
    width: 180px;
    background-color: #b9b9b9;
    border: solid 1px #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
*/
.output {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    overflow: auto;
    text-align: center;
    background: url(../imgs/main_bg.jpg) no-repeat top center #b9b9b9;
    }

/** * Informazioni con anteprima luogo
*/
div.info_image {
    text-align: center;
    }
div.box_stato_luogo {
    padding-top: 2px;
    margin-bottom: 15px;
    }
div.meteo,
div.meteo_date {
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    }

/** * Frame Messaggi 
*/
iframe.iframe_messaggi {
    height: 1em;
    width: 100%;
    }
div.pagina_messaggi {
    text-align: center;
    font-size: 14px;
    }
div.pagina_messaggi a,
div.pagina_messaggi a:visited {
    text-decoration: none;
    color: #444;
    }
div.messaggio_forum_nuovo a,
div.messaggio_forum_nuovo a:visited {
    font-weight: bolder;
    font-style: italic;
    color: #111;
    }

/** * Men� di gioco
*/
select#gotomap {
    display: block;
    width: 160px;
    margin: 0 auto 10px auto;
    }
div.link_menu a {
    display: block;
    padding: 2px;
    padding-left: 10px;
    text-align: left;
    color: rgba(0,0,0,.75);
    font-size: bolder;
    }
div.link_menu a:hover {
    background-color: rgba(255,255,255,.4);
    }
div.link_menu a.sprite {
    display: block;
    width: 50px;
    height: 50px;
    background: no-repeat top left;
    }
div.link_menu a.sprite:hover {
    background-position: 0 100%;
    }
@media (min-width:1380px) {
}

/** * Mappa cliccabile */
/** * Posizionamento mappa cliccabile 
*/
div.mappaclick_map {
    margin: 0 auto;
    }

/** * Link testuali sulla mappa */
div.mappaclick_map a {
    font-size: 13px;
    font-weight: bolder;
    color: rgba(0,0,0,.75);
    }

/** * stile della tooltip di descrizione sulla mappa 
*/
div#descriptionLoc {
    position: absolute;
    width: 200px;
    background-color: #cfcfcf;
    padding: 20px;
    font-size: 12px;
    border: solid 1px #666;
    font-family: Verdana,Sans;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
    }

/** * Stili relativi all'elenco delle mappe in basso
*/
div.mappaclick_more {
    padding-top: 10px;
    }
div.mappaclick_more a {
    background-color: #cfcfcf;
    padding: 8px;
    margin-right: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }

/** * Messages center
*/
div.elenco_record_gioco {
    padding: 20px;
    }
div.elenco_record_gioco table {
    width: 100%;
    background-color: #d1d1d1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }
div.elementi_elenco {
    padding-top: 5px;
    text-align: center;
    }
div.titoli_elenco {
    font-size: 13px;
    font-weight: bolder;
    }
img.colonna_elengo_messaggi_icon {
    width: 30px;
    height: 30px;
    }
div.controlli_elenco {
    width: 60px;
    }
div.controllo_elenco {
    width: 20px;
    float: left;
    }
div.controllo_elenco input[type='image'] {
    width: 15px;
    }

/** * Ambientazione/Regolamento */
div.user_ambientazione div.elementi_elenco,
div.servizi_abilita div.elementi_elenco {
    text-align: left;
    padding: 5px;
    }
div.user_ambientazione td.casella_titolo div.elementi_elenco,
div.servizi_abilita td.casella_titolo div.elementi_elenco {
    font-size: 14px;
    font-weight: bolder;
    padding: 2px 0 2px 10px;
    }

/** * Generico per elenchi, bacheche, regolamento, ambientazione etc */
div.capitolo_elenco {
    font-weight: bolder;
    font-size: 13px;
    text-align: left;
    padding: 5px 5px 5px 20px;
    background-color: #c9c9c9;
    }
div.elementi_elenco {
    min-height: 20px;
    }
td.casella_elemento,
div.elementi_elenco {
    font-size: 12px;
    background-color: #d9d9d9;
    }
div.controllo_elenco input[type='image'] {
    height: 15px;
    width: 15px;
    display: block;
    margin: 2px 5px;
    }
div.elementi_elenco a {
    font-weight: bolder;
    }
div.elementi_elenco a:hover {
    text-decoration: none;
    }

/** * Stile tabelle nei moduli di gestione */
div.elenco_record_gestione table {
    width: 95%;
    margin: 10px auto;
    }

/** * Accorgimenti Layout */
/** * Allineamento verticale delle colonne 
*/
#framecontentLeft,
#framecontentRight {
    display: table;
    }

/** * margine delle colonne */
div.innertube {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    }

/****************************************************************************/
/* STILE DELLA CHAT E DEI PANNELLI */
/* HELP: Da qui è possibile modificare:
- I font ed i colori della chat
- Le dimensioni e la posizione della chat
- Lo sfondo della chat*/
iframe.iframe_chat {
    border: none;
    width: 1px;
    height: 1px;
    margin: 0;
    }
div.chat_window {
    text-align: center;
    }

/**	* Fix per layout elastico
	* @author Blancks
*/
div.chat_box {
    position: absolute;
    top: 50px;
    bottom: 120px;
    left: 10px;
    right: 10px;
    overflow: auto;
    font-size: 16px;
    text-align: left;
    }
div.pagina_frame_chat div.page_body div.panels_box {
    position: absolute;
    bottom: 9px;
    left: 5px;
    right: 5px;
    }

/**	* Fine fix */
/** * Avatar di chat
	* @author Blancks
*/
img.chat_avatar {
    margin: 8px;
    display: block;
    float: left;
    position: relative;
    }

/***** testo della chat *****/
/* Tipi messaggio: (A azione, P parlato, N PNG, M Master, I Immagine, S sussurro, D dado, C skill check, O uso oggetto) */
div.chat_row_A {
    margin-top: 3px;
    }
div.chat_row_A span.color2 {
    margin-top: 3px;
    color: #000;
    font-weight: bolder;
    }
div.chat_row_P {
    margin-top: 3px;
    }
div.chat_row_P span.color2 {
    margin-top: 3px;
    color: #000;
    font-weight: bolder;
    }
div.chat_row_M {
    margin-top: 3px;
    border-width: 2px;
    border-color: green;
    border-style: solid;
    text-align: center;
    color: green;
    }
div.chat_row_N {
    margin-top: 3px;
    }
div.chat_row_N span.color2 {
    color: #000;
    font-weight: bolder;
    }
div.chat_row_I {
    margin-top: 3px;
    text-align: center;
    }
div.chat_row_S {
    margin-top: 3px;
    }
div.chat_row_D {
    margin-top: 3px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    color: cyan;
    }
div.chat_row_C {
    margin-top: 3px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    color: cyan;
    }
span.chat_time {
    font-size: 10px;
    font-weight: bolder;
    margin-right: 3px;
    }
span.chat_name {
    font-weight: bolder;
    font-size: 12px;
    color: #000;
    }
span.chat_msg {
    color: #333;
    font-size: 12px;
    }
span.chat_me,
span.chat_me_master {
    text-decoration: underline;
    }

/***** form inserimento *****/
div.form_row {
    clear: both;
    height: 20px;
    }
div.casella_chat {
    float: left;
    margin-bottom: 6px;
    }

/*Casella Tag*/
input#tag {
    width: 90px;
    }

/*Casella Messaggio*/
input#message {
    width: 280px;
    }

/****************************************************************************/
/****************************************************************************/
/* STILE DELLA FINESTRA PRESENTI */
/* HELP: Da qui è possibile modificare:
- I font ed i colori dei presenti
- Le dimensioni e la posizione della finestra dei presenti
- Lo sfondo della finestra dei presenti */
/*Frame dei presenti*/
div.presenti iframe.iframe_presenti {
    width: 100%;
    min-width: 150px;
    height: 100%;
    border: none;
    overflow: auto;
    background-color: transparent;
    }
div.presenti iframe.iframe_presenti body.transparent_body {
    background-color: none;
    }
div.luogo {
    margin: 10px 0 0;
    font-size: 13px;
    font-weight: bolder;
    }
div.presente {
    font-weight: normal;
    font-size: 12px;
    }
div.link_presenti {
    margin-top: 20px;
    }

/*Icone di stato dei presenti*/
div.pagina_presenti img.sesso_ico,
div.pagina_presenti img.status_ico,
div.pagina_presenti img.disponibile,
div.pagina_presenti_estesa img.sesso_ico,
div.pagina_presenti_estesa img.status_ico,
div.pagina_presenti_estesa img.disponibile {
    margin: 0 2px 0 0;
    }

/*Link nella colonna presenti */
div.pagina_presenti a,
div.pagina_presenti a:visited,
div.pagina_presenti_estesa a,
div.pagina_presenti_estesa a:visited {
    border: none;
    }
div.pagina_presenti a:hover,
div.pagina_presenti_estesa a:hover {
    border: none;
    }

/*Testo nella colonna presenti*/
div.pagina_presenti ul.elenco_presenti,
div.pagina_presenti_estesa ul.elenco_presenti {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    text-align: left;
    }

/*Nomi dei luoghi*/
div.pagina_presenti ul.elenco_presenti li.luogo,
div.pagina_presenti_estesa ul.elenco_presenti li.luogo {
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 1px 8px;
    text-transform: uppercase;
    }
div.pagina_presenti_estesa ul.elenco_presenti li.mappa {
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0 1px 0;
    text-transform: uppercase;
    }

/* Nomi dei personaggi */
div.pagina_presenti ul.elenco_presenti li.presente,
div.pagina_presenti_estesa ul.elenco_presenti li.presente {
    font-size: 11px;
    margin: 0 0 0 5px;
    }
div.pagina_presenti_estesa div.presenti_estesi {
    margin-left: 150px;
    }

/*Icone presenti*/
img.presenti_ico {
    margin-left: 2px;
    width: 10px;
    height: 10px;
    border: none;
    }
main section.scheda {
    text-align: justify;
    line-height: 1.5em;
    padding: 0 !important;
    }
main section.scheda h1 {
    margin: .5em 0;
    }
main section.scheda .ajax {
    padding: 10px;
    }
main section.scheda .outer_container {
    padding: 20px 0 40px 0;
    margin: auto;
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    min-width: 250px;
    height: 50vh;
    }
main section.scheda .outer_container .avatar_wrapper {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,.5);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.5);
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 10px;
    }
main section.scheda .outer_container .avatar_wrapper:hover {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
main section.scheda .outer_container .avatar_wrapper .avatar {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    background-color: black;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    }
main section.scheda .outer_container .avatar_wrapper .sign {
    background-color: white;
    padding: 10px 0 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-weight: bolder;
    }
@media screen and (orientation: landscape) {
main section.scheda .outer_container {
    padding: 20px 30px 40px 30px;
    width: 25%;
    float: left;
    }
}

div.pagina_scheda {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    }
div.pagina_scheda div.form_info {
    font-style: italic;
    }

/*Titoli dei box*/
div.pagina_scheda div.titolo_box {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
    }

/*Box nome,ritratto,iscritto da, ultimo ingresso, scrivi a*/
div.ritratto {
    margin: 5px 5px 20px 3px;
    float: left;
    font-size: 12px;
    width: 215px;
    height: 410px;
    text-align: center;
    }

/*Nome PG*/
div.ritratto div.ritratto_nome {
    font-size: 14px;
    font-weight: bold;
    }

/*Immagine*/
div.ritratto div.ritratto_avatar {
    width: 200px;
    height: 300px;
    margin: 0 7px 0 7px;
    overflow: hidden;
    }
div.ritratto_avatar img {
    max-width: 200px;
    max-height: 300px;
    }

/*Link invia messaggio*/
div.ritratto div.ritratto_invia_messaggio {
    margin: 5px 0 0;
    }

/*Box punteggi, razza, gilda, ruolo off*/
div.profilo {
    margin: 5px 3px 20px 5px;
    float: right;
    font-size: 12px;
    width: 260px;
    }
div.profilo div.profilo_voce {
    text-align: justify;
    clear: both;
    height: 20px;
    }

/*Nome campo*/
div.profilo_voce div.profilo_voce_label {
    width: 40%;
    float: left;
    margin-left: 5px;
    }

/*Valore campo*/
div.profilo_voce div.profilo_voce_valore {
    text-align: right;
    width: 50%;
    float: right;
    margin-right: 5px;
    }

/*Icone gilda*/
img.profilo_img_gilda {
    height: 15px;
    width: 15px;
    }

/*Box status*/
div.profilo_status {
    margin: 5px 5px 5px 5px;
    clear: both;
    height: 100px;
    text-align: justify;
    }

/*Casella PF nei controlli master*/
div.form_field input.healt_input {
    width: 28px;
    }

/*Box storia pg, box affetti*/
div.background {
    margin: 10px 3px 5px 3px;
    clear: both;
    overflow: hidden;
    width: 510px;
    }
div.background img {
    max-width: 500px;
    }

/*Menu' interno scheda*/
div.menu_scheda {
    margin: 0 3px 5px 5px;
    float: right;
    text-align: center;
    font-size: 12px;
    width: 500px;
    height: 30px;
    }

/*Box abilità*/
div.elenco_abilita {
    margin: 10px auto 5px auto;
    clear: both;
    }
div.elenco_abilita table {
    margin: 2px auto 5px auto;
    }
div.elenco_abilita td {
    vertical-align: top;
    }
div.abilita_scheda_nome {
    width: 110px;
    font-size: 12px;
    }
div.abilita_scheda_car {
    width: 70px;
    font-size: 12px;
    }
div.abilita_scheda_tank {
    width: 20px;
    font-size: 12px;
    }
div.abilita_scheda_sub {
    width: 35px;
    font-size: 12px;
    }

/****************************************************************************/
/****************************************************************************/
/* STILE DELLA PAGINA DI MODIFICA SCHEDA */
div.modifica_scheda {
    margin: 10px;
    }

/****************************************************************************/
/****************************************************************************/
/* STILE DELLA PAGINA DI EQUIPAGGIAMENTO */
div.omino_bianco_box {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
    text-align: center;
    }
img.omino_bianco_img {
    margin-top: 40px;
    width: 300px;
    height: 226px;
    }
div.omino_bianco_armdx {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_armdx img {
    width: 48px;
    height: 35px;
    }
div.omino_bianco_armsx {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
    margin-right: 0;
    }
div.omino_bianco_armsx img {
    width: 48px;
    height: 35px;
    }
div.omino_bianco_chest {
    width: 75px;
    height: 50px;
    border: 1px dotted white;
    margin-top: 5px;
    margin-right: 0;
    }
div.omino_bianco_chest img {
    width: 74px;
    height: 49px;
    }
div.omino_bianco_legs {
    width: 75px;
    height: 50px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_legs img {
    width: 74px;
    height: 49px;
    margin-right: 0;
    }
div.omino_bianco_feet {
    width: 63px;
    height: 46px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_feet img {
    width: 62px;
    height: 45px;
    }
div.omino_bianco_head {
    width: 63px;
    height: 46px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_head img {
    width: 62px;
    height: 45px;
    }
div.omino_bianco_neck {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_neck img {
    width: 48px;
    height: 35px;
    }
div.omino_bianco_ring {
    width: 30px;
    height: 20px;
    border: 1px dotted white;
    margin-top: 5px;
    }
div.omino_bianco_ring img {
    width: 29px;
    height: 19px;
    }

/*Inventario*/
div.pagina_scheda_oggetti td.casella_elemento,
div.pagina_scheda_equip td.casella_elemento {
    font-size: 12px;
    padding: 3px;
    }
div.pagina_scheda_oggetti div.inventario_img img,
div.pagina_scheda_equip div.inventario_img img {
    height: 120px;
    width: 120px;
    }
div.pagina_scheda_oggetti div.inventario_img,
div.pagina_scheda_equip div.inventario_img {
    width: 122px;
    }
div.pagina_oggetti_equip div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome {
    width: 122px;
    }
div.pagina_scheda_oggetti div.inventario_quantita,
div.pagina_scheda_equip div.inventario_quantita {
    width: 122px;
    }
div.pagina_scheda_oggetti div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome {
    font-size: 12px;
    text-transform: uppercase;
    }
div.pagina_scheda_oggetti div.form_label,
div.pagina_scheda_equip div.form_label {
    font-size: 12px;
    margin: 0;
    }
div.pagina_scheda_oggetti input,
div.pagina_scheda_equip input {
    font-size: 12px;
    margin: 0;
    }
div.inventario_riga_proprieta {
    width: 80px;
    }
div.pagina_scheda_equip form,
div.pagina_scheda_oggetti form {
    text-align: center;
    margin: 0 0 4px;
    }
.skill_incr.active,
.skill_decr.active {
    visibility: visible;
    }
.skill_incr.inactive,
.skill_decr.inactive {
    visibility: hidden;
    }

/****************************************************************************/
/****************************************************************************/
/* STILE DEI MESSAGGI PRIVATI */
/* HELP: Da qui è possibile modificare:
- I font ed i colori dei messaggi privati
- Le dimensioni e la posizione delle finestre dei messaggi privati
- Lo sfondo dei messaggi privati */
/****************************************************************************/
/*Testo delle colonne*/
div.pagina_messages_center div.elementi_elenco {
    height: 40px;
    }

/*************************/
/*Visualizzazione del messaggio singolo*/
div.read_message_box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
div.read_message_box div.infos {
    clear: both;
    text-align: left;
    }
div.read_message_box div.infos span.title {
    font-style: italic;
    }
div.read_message_box div.infos span.body {
    font-weight: bold;
    }
div.read_message_box_text {
    clear: both;
    border: solid 1px #d9d9d9;
    background-color: #999;
    padding: 10px;
    margin: 20px 0 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }
div.read_message_box_forms {
    clear: both;
    margin-bottom: 40px;
    }
div.read_message_box_form {
    float: right;
    }
div.read_message_box_form input {
    height: 20px;
    width: 20px;
    }

/****************************************************************************/
/* STILE DEL FORUM */
/* HELP:  */
/*Frame dei presenti*/
div.pagina_forum div.panels_box {
    border: none;
    margin-top: 10px;
    background-color: #D1D1D1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    }
div.pagina_forum div.panels_box table {
    width: 100%;
    }
div.pagina_forum div.panels_box tr {
    margin: 2px;
    }
div.forum_date_big {
    font-size: 10px;
    width: 200px;
    padding-top: 5px;
    }
div.elementi_elenco div.forum_date_big {
    width: auto;
    }
div.forum_column {
    text-align: left;
    margin-top: 2px;
    padding-left: 15px;
    }
div.forum_date_small {
    font-size: 10px;
    clear: both;
    }
div.forum_main_post {
    margin: 1px;
    }
div.forum_other_posts {
    margin: 1px;
    }
td.forum_main_title {
    text-align: center;
    }
div.forum_post_title {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    }
td.forum_main_post_author,
td.forum_other_post_author {
    width: 100px;
    vertical-align: top;
    }
td.forum_main_post_message,
td.forum_other_post_message {
    background-color: #D9D9D9;
    vertical-align: text-top;
    }
div.forum_post_author {
    margin-bottom: 20px;
    }
div.forum_post_message {
    text-align: left;
    padding: 10px;
    }
div.forum_post_modify {
    font-size: 10px;
    text-align: center;
    margin: 40px 0 20px 0;
    }
img.img_forum_avatar {
    height: 45px;
    width: 30px;
    }
