/*  INIZIO CSS DELLA HOME */
h1
{
    margin: 0;
    padding: 30px 0 0 76px;
    font-size: 38px;
    font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
	
	a,
	a:visited, 
	a:hover
	{
		color: #222;
		text-decoration: none;		
	}
	
}



/** * Sottotitolo
*/
div.subtitle {
    margin-left: 78px;
    color: #666;
    font-family: Verdana, Sans;
    font-size: 12px;
}

/** * Stili del form di login
*/
div.login_form {
    float: right;
    width: 230px;
    padding: 10px;
    margin-top: 60px;
}

/** * stile che ingloba i gruppi label/input
*/
div.login_form 
{
	
	div 
	{
		margin-bottom: 4px;
	}

	input
	{
		width: 145px;
		margin: 0;
	
		&[type='submit']
		{
			display: block;
			float: right;
			margin-right: 52px;
			width: 65px;
		}
		
	}
}

/** * Stile per le label dei form
*/
span.form_label {
    text-align: left;
    font-weight: bolder;
}




/** * Contenuti testuali */
div.content_body 
{
    width: 620px;
    padding: 10px;
    float: left;	
	
	p
	{
		font-size: 13px;
		padding: 0 10px;
	}
	
	a
	{
		color: #999;
		text-decoration: underline;
	}	
}



/** * Men� di navigazione
*/
div.sidecontent 
{	
    width: 200px;
    float: left;	
	
	ul
	{
		margin: 20px 0 0 10px;
		padding: 20px 10px 20px 10px;
		background-color: #a1a1a1;
		list-style-type: none;
		border-radius: 5px;
	
		li
		{
			margin-bottom: 5px;
		
			a,
			a:visited
			{
				color: #f1f1f1;
				text-decoration: none;
				display: block;
				font-size: 17px;
				padding: 2px;
				background-color: none;				
			}
		
			a:hover
			{
				background-color: #b2b2b2;
				color: #444;
			}		
		
		}	
	
	}

}


/** Stile generico contenitore per altri contenuti nella sidebar
*/
div.side_modules {
    margin: 10px 0 0 10px;
    background-color: #b9b9b9;
    font-color: #333;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
	
	.form_label
	{
		font-size: 10px;
		margin-right: 2px;
	}	
}



/** * Tabella statistiche */
table.statistics {
    text-align: right;
    margin-top: 10px;
    font-size: 10px;
	
	tr
	{
		
		&.pair
		{
			background-color: #c9c9c9;
		}
	
	}	
	
	td {
		padding-right: 5px;
		
		&.label
		{
			font-weight: bolder;
			text-align: left;
			padding: 2px;
		}		
	}
	
}


/** * Recupero password */
div.pass_rec {
    margin-top: 10px;
	
	input[type='submit']
	{
		margin-top: 3px;
	}
	
}

input#passrecovery {
    width: 126px;
}



/** * Footer info */
div#footer
{ 
    height: 68px;
    padding: 8px 59px 0 59px;
    background: url("../../imgs/footer.png") no-repeat top left;
	
	div
	{
		background-color: #d9d9d9;
		padding: 5px 0 3px 0;
	}
	
	p
	{
		font-size: 10px;
		margin: 0;
		padding: 0 15px 2px 15px;
		text-align: center;
	}	
}



/** * LAYOUT SITO */

/** * Struttura contenitore di tutto il sito 
*/
div#main {
    height: 100%;
    width: 100%;
    background: url("../../imgs/bg_header.jpg") repeat-x top left;
    text-align: center;
}

/** * Larghezza della struttura del sito
*/
div#site_width {
    margin: 0 auto;
    width: 960px;
    text-align: left;
}

/** * Header
*/
div#header {
    height: 180px;
}

/** * Corpo contenuti della pagina
*/
div#content {
    padding: 0 60px 10px 60px;
    background: url("../../imgs/body.png") repeat-y left top;
}
/*  FINE CSS DELLA HOME */