/* IMPORTA IL LAYOUT DELL'INTERNO DELLA LAND */
@import 'main/main.css';





body.transparent_body {
    background-color: transparent;
    background-image: none;
}

div, ul, li {
    margin: 0;
    padding: 0;
}

.blank {
    clear: both;
}



div.form_field table {
    margin: 5px auto;
}







div.form_label {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 5px;
}



select.day, select.month, select.year {
    width: 60px;
    display: inline-block;
}

/** * Stile dei messaggi d'avviso dell'engine */


div.link_back {
    text-align: center;
    background-color: #d1d1d1;
    padding: 2px;
}

/** * Logout */
div.logout_box {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 1px #333;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.logout_box a {
    text-decoration: underline;
    font-style: italic;
}

/** * Titoli delle sezioni
*/
div.innertube h2, .output h2, div.page_title h2 {
    font-weight: bolder;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4px;
    margin-top: 0;
	margin-bottom:5px;
	color:#EBECF0;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:16px;
	 text-shadow: 
	rgba(0,0,0,0.5) -1px 0, 
	rgba(0,0,0,0.3) 0 -1px, 
	rgba(255,255,255,0.5) 0 1px, 
	rgba(0,0,0,0.3) -1px -2px;
}



.output {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 0px;
    width: auto;
    overflow: auto;
    text-align: center;
    background: url("../../imgs/main_bg.jpg") no-repeat top center #b9b9b9;
}

/** * Informazioni con anteprima luogo
*/
div.info_image {
    text-align: center;
}

div.box_stato_luogo {
    padding-top: 2px;
    margin-bottom: 15px;
}

div.meteo, div.meteo_date {
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}

/** * Frame Messaggi 
*/
iframe.iframe_messaggi {
    height: 1em;
    width: 100%;
}

div.pagina_messaggi {
    text-align: center;
    font-size: 14px;
}

div.pagina_messaggi a, div.pagina_messaggi a:visited {
    text-decoration: none;
    color: #444;
}

div.messaggio_forum_nuovo a, div.messaggio_forum_nuovo a:visited {
    font-weight: bolder;
    font-style: italic;
    color: #111;
}

/** * Menï¿½ di gioco
*/
select#gotomap {
    display: block;
    width: 160px;
    margin: 0 auto 10px auto;
}

div.link_menu {
	
	
	
	a
	{
		display: block;
		padding: 2px;
		padding-left:10px;
		text-align: left;
		color:rgba(0,0,0,0.75);
		font-size:bolder;
		
		&:hover
		{
			background-color: rgba(255,255,255,0.4);

		}		
	
		&.sprite
		{
			display: block;
			width: 50px;
			height: 50px;
			background: no-repeat top left;
		
			&:hover
			{
				background-position: 0 100%;
			}		
		
		}	
	
	}
	

	
}

.modulo.menu
{
	option.map
	{
		font-weight:bold;
	}
	
}

@media (min-width:1380px)  {
	
	div.link_menu
	{




	}	
	
}







/** * Messages center
*/
div.elenco_record_gioco {
    padding: 20px;
}

div.elenco_record_gioco table {
    width: 100%;
    background-color: #d1d1d1;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.elementi_elenco {
    padding-top: 5px;
    text-align: center;
}

div.titoli_elenco {
    font-size: 13px;
    font-weight: bolder;
}

img.colonna_elengo_messaggi_icon {
    width: 30px;
    height: 30px;
}

div.controlli_elenco {
    width: 60px;
}

div.controllo_elenco {
    width: 20px;
    float: left;
}

div.controllo_elenco input[type='image'] {
    width: 15px;
}

/** * Ambientazione/Regolamento */
div.user_ambientazione div.elementi_elenco, div.servizi_abilita div.elementi_elenco {
    text-align: left;
    padding: 5px;
}

div.user_ambientazione td.casella_titolo div.elementi_elenco, div.servizi_abilita td.casella_titolo div.elementi_elenco {
    font-size: 14px;
    font-weight: bolder;
    padding: 2px 0 2px 10px;
}

/** * Generico per elenchi, bacheche, regolamento, ambientazione etc */
div.capitolo_elenco {
    font-weight: bolder;
    font-size: 13px;
    text-align: left;
    padding: 5px 5px 5px 20px;
    background-color: #c9c9c9;
}

div.elementi_elenco {
    min-height: 20px;
}

td.casella_elemento, div.elementi_elenco {
    font-size: 12px;
    background-color: #d9d9d9;
}

div.controllo_elenco input[type='image'] {
    height: 15px;
    width: 15px;
    display: block;
    margin: 2px 5px;
}

div.elementi_elenco a {
    font-weight: bolder;
}

div.elementi_elenco a:hover {
    text-decoration: none;
}

/** * Stile tabelle nei moduli di gestione */
div.elenco_record_gestione table {
    width: 95%;
    margin: 10px auto;
}

/** * Accorgimenti Layout */

/** * Allineamento verticale delle colonne 
*/
#framecontentLeft, #framecontentRight {
    display: table;
}

/** * margine delle colonne */
div.innertube {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

@import 'pages/info_location.css';
@import 'pages/mappa.css';
@import 'pages/gestione_locazioni.css';
@import 'pages/gestione/manutenzione.css';