.home.layout
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;

	scroll-snap-type:x mandatory;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 
		min-content
		min-content
		min-content
		min-content
		min-content
		min-content   
		min-content;
	justify-items: stretch;	
	align-items: stretch;	
	justify-content: stretch;
	align-content: stretch;	
	grid-template-areas: 
		"header" 
		"nav" 
		"login" 
		"main"
		"stat"
		"nav_bottom" 
		"footer";

	@include metal;

	h1,
	h2
	{
		color:rgba(0,0,0,0.3);
		margin:0;
		padding:0;
		
		a
		{
			color:rgba(0,0,0,0.3);
		}
	
	}
	
	header
	{
		padding:10px 20px 10px 20px;
		grid-area:header;
		
		h1
		{
			text-align:left;
		}
	}
	
	nav,
	nav.bottom
	{
		background-color:#3e464d;
		border-bottom:2px solid rgba(255,255,255,0.2);
		border-top:2px solid rgba(0,0,0,0.8);
		border-right:2px solid rgba(255,255,255,0.2);
		border-left:2px solid rgba(0,0,0,0.8);
		margin-bottom:10px;
		
		ul,
		li
		{
			margin:0;
			padding:0;
			list-style-type:none;
		}
		
		ul
		{
			display:flex;
			justify-content:space-evenly;
		}
		
		li
		{
			line-height:25px;
			flex:1 1 auto;
			text-align:center;
			transition-duration: 0.2s;
			
			&:hover
			{
				background-color:rgba(0,0,0,0.25);
			}
			
			a
			{
				color:#EBECF0;
				display:block;
				text-transform:uppercase;
				
				&:hover
				{
					color:#007AA5;
				}
				
			}
		
		}
	
	}
	
	nav
	{
		position:sticky;
		top:0;
		grid-area:nav;		
	}
	
	aside
	{
		display:flex;
		align-content: flex-start;
		margin:10px;
		box-sizing: border-box;
		
		@include glass;	
		
		&#sez_stat
		{
			
			.item
			{
				padding:0;
				
				h2
				{
					margin:10px 0;
				}
				
				table
				{
					min-width:250px;
					width:100%;
					font-size:12px;
					
					td
					{
						border-left-width:0;
						border-right-width:0;	
					}
				
				}
			
			}
		
		}
		
		&.sez_form
		{
			grid-area:logon;
		}
		
		&.sez_stat
		{
			grid-area:logon;
		}		
		
		.item
		{
			flex:1 1 100%;
			display:flex;
			flex-flow: column wrap;	
			justify-content:center;			
			padding:10px;

			.modulo
			{
				
				h2
				{
					color:rgba(255,255,255,0.75);
					text-align:center;
				}
				
				&.login,
				&.recupero
				{
					
					form
					{
						
						.fields
						{

							label
							{
								flex:0 0 60px;
								padding:0.5em 0;
							}
							
							input[type="text"],
							input[type="password"]
							{
								flex:2 0 75%;
								margin:0.5em 0;
							}
					
						}
						
					}
				
				}
			
			}
		
		}
		
	}
	
	main
	{
		grid-area:main;
		margin:10px;
		padding:10px;
		box-sizing: border-box;
		
		@include glass;

		h1,
		h2
		{
			color:rgba(255,255,255,0.75);
			text-align:center;
		}
		
		a
		{
			color:white;
			
			&:hover
			{
				color:#00b7f8;
				filter:brightness(150%);
			}
		}
		
		section
		{
			
			&.iscrizione
			{
				overflow-x:auto;
				
				h2
				{
					margin-bottom:10px;
				}
				
				form
				{
					
					.fields
					{
						margin:auto;
						max-width:500px;						

						label
						{
							flex:0 0 90px;
							padding:0.5em 0;
							font-weight:bolder;
						}
						
						input[type="text"],
						input[type="password"], 
						select
						{
							flex:2 0 calc(100% - 90px);
							margin:0.5em 0;
						}
				
						.form_info
						{
							flex:1 0 100%;
						}						
					
					}					
					
				}
				
			}
		
		}
		
	}
	
	nav.bottom
	{
		grid-area:nav_bottom;
	}
	
	footer
	{
		grid-area:footer;
		padding:10px 20px 20px 20px;
		color:silver;
		
	}
}

@media screen and (orientation: landscape) {
	
	.home.layout
	{
		grid-template-columns: min-content auto;
		grid-template-rows: 
			min-content
			min-content
			min-content
			min-content
			min-content   
			min-content 
			min-content;
		justify-items: stretch;	
		align-items: stretch;	
		justify-content: stretch;
		align-content: stretch;	
		grid-template-areas: 
			"header header" 
			"nav nav" 
			"login main" 
			"stat main"
			"stat main"
			"nav_bottom nav_bottom" 
			"footer footer";		
	}
	
}